.header{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto,serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.links{
    display: flex;
     gap: 30px;
width: 400px;
}
.links a{
    color: #E5E7EB;
    font-size: 14px;  
   text-decoration: none;
   gap: 40px;
}
.start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 300px;
    align-items: center;
    background-color: #1F2937;
}
.hero{
    flex: 1;;
}
h1{
    font-size: 44px;
    color: #F9FAF8 ;
    font-weight: 900;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 8px 24px;
    
}
.img {
height: 250px;
width: 450px;
border-radius: 10px;
flex-shrink: 0;
object-fit: cover;
}

.container{
    display: flex;
    justify-content: center;

}
h2{
    justify-content: center;
    margin-bottom: 20px;
}

.box{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
    
}
.card{
width: 150px;
text-align: center;
}
.card img{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid #3882F6;
}
footer{
    background-color: #1F2937;
}